<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>See Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:replace="fragments/general :: top"/>
<div th:each="item : ${items}">
    <span th:text="${item.getFirst().name}">name</span>
    <span th:text="${item.getFirst().price}">price</span>
    <a th:href="@{|/cart/decrement?pid=${item.getFirst().id}|}">-</a>
    <span th:text="${item.getSecond()}">quantity</span>
    <a th:href="@{|/cart/increment?pid=${item.getFirst().id}|}">+</a>
</div>
<br>
<a th:href="@{|/cart/checkout|}">Checkout</a>
</body>
</html>