
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Race Sim</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <link rel="stylesheet" href="/css/font-awesome.css">


    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/font-awesome-ie7.css">

    <script src="/js/jquery.mobilemenu.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <script>
        const name = document.getElementById("name");
        const modifications = document.getElementById("modifications");
        const skills = modifications.getElementsByTagName("span");


        $(document).ready(function(){
            $('.menu').mobileMenu();
        });

        console.log(name.textContent);

        function start() {

            //console.log(career.toString())
            for (let i = 0; i < skills.length; i++) {
                let skill = skills[i].textContent;
                console.log(skill);//window.location.href = "/driver";
            }   
        }    // Perform any desired operations with the skill value
    </script>

</head>

<body>
<div class="header-wrapper">
    <div class="site-name">
        <h1>Race Simulator and Standings</h1>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="banner">

    <!-- Controls -->

</div>
<div class="container">
    <div class="featured-block">
        <div class="row">
            <div class="col-md-3">
                <div class="block">
                    <div class="thumbnail">
                        <div class="caption">
                            <h1>Standings</h1>
                            <span id="name" th:text="${career.getTeamName()}"></span>
                             <span id="modifications">
                                 <span th:each="modification: ${career.getModifications()}" th:text="${modification.skill}"></span>
                             </span>
                            <button class="btn" onclick="start()" style="height:50px;font-size:14pt; text-align: center;" href="standings.html"><br>Simulate Race</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


</body>
</html>
